[Unit]
Description=Insert into timescale database using asyncio

[Service]
Type=simple
WorkingDirectory=/home/timescale/timescale
EnvironmentFile=/home/timescale/.env
PIDFile=/home/timescale/timescale/insert_async_bitonic.pid
ExecStart=/home/timescale/.conda/envs/timescale/bin/python /home/timescale/timescale/async_insert.py bitonic
User=timescale
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
